# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.cache/
# Editors/OS
.vscode/
.idea/
.DS_Store
# Packaging
*.egg-info/

# Logs
logs/

# pre-commit
.pre-commit-cache/

# Testing artifacts
.coverage
